################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PointCollegeSensorControl/PointCollegeSensorControl/obj/Release/Package/PackageTmp/Views/Commands
