@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PointCollege</h1>
    <p class="lead">Tämä on PointCollegen vuosikurssin datanomiopiskelijoiden harjoitustyö, jossa mitataan lämpötilaa hyödyntäen Rasberry Pie3:sta.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
</div>